*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}
:root{
    --bg: #d9d9d9;
    --bg-hover: #d9d9d9;
    --bg-active: #d9d9d9;
    --light-bg: #d9d9d9;
    --light-bg-hover: #d9d9d9;
    --light-bg-active: #d9d9d9;
    --dark-bg: #000023;
    --dark-bg-hover: #000023;
    --dark-bg-active: #000023;
}

.color-mode-transition{
    transition: none;
}

html, body{
    overflow-x: hidden;
    overscroll-behavior: none;
    position: relative;
    width: 100%;
    max-width: 100%;
    touch-action: manipulation;
}

nav{
    background-color: var(--bg);
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7dvh;
}
nav input{
    width: 30%;
    height: 1.5rem;
    border-radius: 1rem;
    padding-left: .5rem;
}
nav input:focus {
    outline: 2px solid var(--bg-active); 
}
.logo{
    padding-left: 1rem;
    width: 2rem;
    user-select: none;
    touch-action: none;
    pointer-events: none;
}
main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100dvw;
    max-width: 100dvw;
    overflow: hidden;
}
.popup-anchor{
    display: flex;
    width: fit-content;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid;
}
.popup-anchor svg{
    margin-left: .2rem;
}

#map { 
    height: 93dvh; 
    width: 100%;
    z-index: 0;
}

#listadoFerias{
    text-indent: .5rem;
}

#listadoFerias li{
    text-indent: 1rem;
}

aside{
    position: absolute;
    right: 0;
    width: 20%;
    height: 93vh;
    background-color: var(--bg);
    z-index: 1;
    transform: translateX(110%);
    transition: transform 200ms ease-in-out;
}

aside ul{
    list-style-type: none;
}

.active{
    background-color: var(--bg-active);
}

.barrio:hover, .municipio:hover, #listadoFerias h3:hover{
    cursor: pointer;
    transition: none;
    background-color: var(--bg-hover);
}
#listadoFerias h3, #listadoFerias li{
    user-select: none;
}

.menu-hamburguesa{
    background-color: var(--bg);
    width: fit-content;
    padding: 1rem;
    margin-right: 1rem;
    z-index: 2;
}
.menu-hamburguesa svg{
    fill: white;
    width: 1.5rem;
    mix-blend-mode:exclusion;
}
.menu-hamburguesa:hover{
    background-color: var(--bg-hover);
}

.locate-user{
    background-color: var(--bg);
    width: fit-content;
    padding: 1rem .8rem .5rem .8rem;
    position: fixed;
    bottom: 2rem;
    border-radius: 5rem;
    right: 1rem;
    z-index: 1;
}

.locate-user:target{
    background-color: var(--bg-active);
}

.locate-user:hover{
    background-color: var(--bg-hover);
}

.show{
    transform: translateX(0);
}

.rotated{
    rotate: 180deg;
}


.municipio-head{
    display: flex;
    justify-content: space-between;
}

.municipio-head svg{
    transition: rotate 100ms ease-in-out;
}

.contents{    
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 200ms ease, opacity 200ms ease;
    margin: 0;
    padding: 0;
    list-style: none;
}

.desplegado{
    max-height: 500px; /* big enough for all list items */
    opacity: 1;
}

/*Tablet*/
@media only screen and (max-width: 768px) {
    aside{
        position: absolute;
        bottom: 0;
        height: fit-content;
        overflow-y: scroll;
        max-height: 30vh;
        width: 85%;
        padding: 2rem 2rem 3rem 2rem;
    }
    h2{
        font-size: 2rem;
    }
    aside ul{
        font-size: 1.2rem;

    }
    aside ul li{
        font-size: 1.2rem;
    }
    #map{
        height: 90dvh;
    }
    nav{
        height: 10dvh;
    }
    nav input{
        width: 50%;
    }
    nav .logo{
        width: 3rem;
    }
}

/*Movil*/
@media only screen and (max-width: 320px) {
}